# ==========================================
# .NET BACKEND IGNORES
# ==========================================
**/[Bb]in/
**/[Oo]bj/
**/.vs/
**/.vscode/
**/appsettings.Development.json
**/*.env

# ==========================================
# REACT FRONTEND IGNORES
# ==========================================
**/node_modules/
**/dist/
**/build/
**/.env*.local
npm-debug.log*

# ==========================================
# SYSTEM IGNORES
# ==========================================
.DS_Store
Thumbs.db

# POSTMAN IGNORES
**/postman/
**/.postman/

# TEST IGNORES
**/BE.Tests/